nav.header {
  & a {
    text-transform: uppercase;
    margin: 0 32px;
  }
  & a.active {
    border-bottom: 2px solid #555;
  }
  & a,
  & a:hover {
    text-decoration: none;
  }
  margin: 32px 0 64px 0;
  text-align: center;
  font-size: 1.3em;
}

.container {
  max-width: 1030px;
  margin: auto;
  & > h1 {
    text-align: center;
  }
}

html {
  background: #f5f5f5;
}

.posts {
  padding: 0;
  & .title {
    font-size: 2em;
    text-decoration: none;
  }
}

.card {
  list-style: none;
  background: white;
  padding: 40px 64px;
  margin: 40px 0;
}

.hero {
  position: absolute;
  top: calc(100px + 30%);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  & h1 {
    font-size: 3em;
    color: gray(20);
  }
  & code {
    font-size: 1.3em;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.9);
    padding: 24px;
    white-space: nowrap;
    display: block;
  }
  & ul {
    margin: 32px 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    list-style: none;
    display: inline-block;
    & li {
      text-align: left;
      display: inline;
      margin: 0;
      text-align: left;
    }
    & li:before {
      content: ' ';
      margin: 8px;
      display: block;
    }
  }
}
