html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  /* color: #777; */
  color: rgba(0,0,0,0.62);
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: rgba(0,0,0,0.7);
  
  &:visited {
    color: rgba(0,0,0,0.6);
  }
  &:hover {
    text-decoration: underline;
  }
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 100%;
}
input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
table {
  width: 100%;
}

.search-container
{
  width: 20%;
}

table th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #666;
  color: white;
}

table tr:nth-child(even){ background-color: #f2f2f2; }

table tr:hover { background-color: #ddd; }

table td, table th {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

table i {
  cursor: pointer;
}
row > .auction_box {
  background: white;
  margin: 1.5%;
  flex: 0 0 30%;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.auction_bid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.auction_bid_price:before {
  content: "\20AC";
}

.auction_bid_price,
.auction_bid_time {
  flex-direction: column;
  text-align: center;
  width: 50%;
  /*padding: 1rem 0;*/
}

.auction_title {
  font-size: 32px;
  margin: 1rem;
  display: block;
  color: black;
  text-decoration: none;
}

p.auction_description {
  padding: 0 1rem;
}

h1.title {
  text-align: center;
  width: 100%;
  font-size: 32px;
}

.auction_detail {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 65rem;
  background-color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.auction_detail > .auction_column {
  flex: 0 0 50%;
  position: relative;
}

.auction_column > img{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 100%;
}

.auction_bid_amount {
  float: left;
}

.auction_bid_button {
  float: left;
}

.auction_detail form {
  padding: 1rem;
}

.auction_form,
.register_form,
.login_form {
  background-color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  padding: 1.5rem;
  margin-top: 4rem;
  width: 50%;
}